<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.serviceModel>

    <client>
      
      <endpoint address="net.pipe://localhost/MeshingEngine" 
                binding="netNamedPipeBinding" 
                bindingConfiguration="NetNamedPipeBinding" 
                contract="MeshingEngineServiceReference1.IMeshingEngine" />
      
      <endpoint address="net.pipe://localhost/ResampleEngine" 
                binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding" 
                contract="ResampleEngineServiceReference1.IResampleEngine" />
      
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalGeometryResourceManager1" 
                binding="netNamedPipeBinding" 
                bindingConfiguration="NetNamedPipeBinding" 
                contract="LocalGeometryResourceServiceReference1.ILocalGeometryResourceManager" />
      
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1" 
                binding="netNamedPipeBinding" 
                bindingConfiguration="NetNamedPipeBinding" 
                contract="LocalImageResourceServiceReference1.ILocalImageResourceManager" />

    </client>

    <services>

      <service name="MprGenerationEngine.MprGenerationEngineService1">

        <endpoint address="net.msmq://localhost/private/MprGenerationRequestQueue" 
                  binding="netMsmqBinding" 
                  bindingConfiguration="NoMsmqSecurity" 
                  contract="MprGenerationEngine.IMprGenerationEngineService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MprGenerationEngine/Service1/"/>
          </baseAddresses>
        </host>
        
      </service>

      <service name="PheonixRt.MeshingManagerService.MeshingManager">
        <endpoint address="net.msmq://localhost/private/MeshingQueue"
                  binding="netMsmqBinding"
                  bindingConfiguration="NoMsmqSecurity"
                  contract="PheonixRt.MeshingManagerService.IMeshingManager">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MeshingManager/Service1/"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="PheonixRt.MeshingEngineService.MeshingEngine">
        
        <endpoint address="net.pipe://localhost/MeshingEngine" 
                  binding="netNamedPipeBinding" 
                  contract="PheonixRt.MeshingEngineService.IMeshingEngine">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MeshingEngine/Service1/"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="PheonixRt.ResampleManagerService.ResampleManager">
        
        <endpoint address="net.msmq://localhost/private/ResampleRequestQueue" 
                  binding="netMsmqBinding" 
                  bindingConfiguration="NoMsmqSecurity" 
                  contract="PheonixRt.ResampleManagerService.IResampleManager" />
        
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ResampleManager/ResampleManagerService1"/>
          </baseAddresses>
        </host>
        
      </service>
      
      <service name="PheonixRt.ResampleEngineService.ResampleEngine">
        
        <endpoint address="net.pipe://localhost/ResampleEngine" 
                  binding="netNamedPipeBinding" 
                  bindingConfiguration="NetNamedPipeBinding" 
                  contract="PheonixRt.ResampleEngineService.IResampleEngine" />
        
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ResampleEngineService/ResampleEngine1"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="DicomLoaderManager.DicomScanManager">
        <endpoint address="net.msmq://localhost/private/DicomScanQueue" binding="netMsmqBinding" 
                  bindingConfiguration="NoMsmqSecurity" contract="DicomLoaderManager.IDicomScanManager">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DicomLoaderManager/DicomScanService1/"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="LocalResourceManager.LocalImageResourceManager">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" 
                  contract="LocalResourceManager.ILocalImageResourceManager"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="LocalResourceManager.LocalGeometryResourceManager">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" 
                  contract="LocalResourceManager.ILocalGeometryResourceManager"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/LocalResourceManager/LocalGeometryResourceManager1"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding"/>
      </netNamedPipeBinding>
    </bindings>

  </system.serviceModel>
</configuration>
