<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <client>
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalImageResourceManager"
        contract="LocalImageResourceServiceReference1.ILocalImageResourceManager"
        name="NetNamedPipeBinding_ILocalImageResourceManager">
        <identity>
          <userPrincipalName value="DEREKSPEEDPC\Derek" />
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="LargeNetNamedPipeBinding" maxBufferPoolSize="1500000"
          maxBufferSize="1500000" maxReceivedMessageSize="1500000" />
        <binding name="NetNamedPipeBinding_ILocalImageResourceManager" />
      </netNamedPipeBinding>
    </bindings>
      
    <services>
      <service name="MprGenerationEngine.MprGenerationEngineService1">
        
        <endpoint address="net.msmq://localhost/private/MprGenerationRequestQueue"
                  binding="netMsmqBinding"
                  bindingConfiguration="NoMsmqSecurity"
                  contract="MprGenerationEngine.IMprGenerationEngineService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
          
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MprGenerationEngine/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>

          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
