<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel" 
              propagateActivity="true" 
        switchValue="Information, ActivityTracing">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\Logs\Messages_LocalResourceTestViewer.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>

  <system.serviceModel>

    <!--<diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->

    <services>
      <service name="DicomLoaderManagerHelper">
        <endpoint address="net.msmq://localhost/private/ImageStoredResponseQueue"
          binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
          contract="IImageStoredResponse" />
      </service>
      <service name="MeshingManagerHelper">
        <endpoint address="net.msmq://localhost/private/MeshingResponseQueue"
          binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
          contract="IMeshingResponse" />
      </service>
      <service name="ResampleDoneResponse">
        <endpoint address="net.msmq://localhost/private/ResampleResponseQueue"
          binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
          contract="IResampleResponse" />
      </service>
      <service name="ImageRenderManagerHelper">
        <endpoint address="net.msmq://localhost/private/MprGenerationResponseQueue"
          binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
          contract="IMprGenerationResponse" />
      </service>
    </services>
    
    <client>

      <endpoint address="net.msmq://localhost/private/DicomScanQueue"
                binding="netMsmqBinding"
                bindingConfiguration="NoMsmqSecurity"
                contract="DicomScanServiceReference1.IDicomScanManager"
                name="NetMsmqBinding_IDicomScanManager" />
      
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1"
                binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ILocalImageResourceManager"
                contract="LocalImageResourceServiceReference1.ILocalImageResourceManager"
                name="NetNamedPipeBinding_ILocalImageResourceManager">
      </endpoint>
      
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalGeometryResourceManager1"
                binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ILocalGeometryResourceManager"
                contract="LocalGeometryResourceServiceReference1.ILocalGeometryResourceManager"
                name="NetNamedPipeBinding_ILocalGeometryResourceManager">
      </endpoint>
      
      <endpoint address="net.msmq://localhost/private/MeshingQueue"
                binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IMeshingManager"
                contract="MeshingManagerServiceReference1.IMeshingManager"
                name="NetMsmqBinding_IMeshingManager">
      </endpoint>
      
      <endpoint address="net.msmq://localhost/private/MprGenerationRequestQueue"
        binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
        contract="MprGenerationEngineServiceReference1.IMprGenerationEngineService"
        name="NetMsmqBinding_IMprGenerationEngineService" />
      
      <endpoint address="net.msmq://localhost/private/ResampleRequestQueue"
        binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
        contract="ResampleManagerServiceReference1.IResampleManager"
        name="NetMsmqBinding_IResampleManager" />
    </client>
    
    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IDicomScanManager">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IMeshingManager">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IMprGenerationEngineService">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IResampleManager">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILocalImageResourceManager" />
        <binding name="NetNamedPipeBinding_ILocalGeometryResourceManager" />
      </netNamedPipeBinding>
    </bindings>    
  </system.serviceModel>
</configuration>
