<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              propagateActivity="true"
        switchValue="Information, ActivityTracing">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\Logs\Messages_DicomLoaderManager.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
  
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <!--<diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->
    
    <client>
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalGeometryResourceManager1"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalGeometryResourceManager"
        contract="LocalGeometryResourceServiceReference1.ILocalGeometryResourceManager"
        name="NetNamedPipeBinding_ILocalGeometryResourceManager">
        <identity>
          <userPrincipalName value="DEREKSPEEDPC\Derek" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalImageResourceManager"
        contract="LocalImageResourceServiceReference1.ILocalImageResourceManager"
        name="NetNamedPipeBinding_ILocalImageResourceManager">
        <identity>
          <userPrincipalName value="DEREKSPEEDPC\Derek" />
        </identity>
      </endpoint>
    </client>
    
    <services>
      <service name="DicomLoaderManager.DicomScanManager">
        <endpoint address="net.msmq://localhost/private/DicomScanQueue" binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity" contract="DicomLoaderManager.IDicomScanManager">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DicomLoaderManager/DicomScanService1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" />
        <binding name="NetNamedPipeBinding_ILocalGeometryResourceManager" />
        <binding name="NetNamedPipeBinding_ILocalImageResourceManager" />
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
